$sizeContainer: 80%;

$sizeFooterContainer: 90%;

$firstColor: #333c4e;
$secondColor: #7f8991;

.btn {
    padding: 5px 20px;
    color: white;
    border: none;
    
}

.orange-btn {
    background-color: #f09a3f;
    border: 1px solid #f09a3f;
}

.blue-btn {
    background-color: #00bcd4;
    border: 1px solid #00bcd4;
}